.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.search-icon {
  position: absolute;
  left: 8px;
  height: 12px;
}

.search-input {
  padding-left: 24px;
  width: 200px;
}
