button {
  font-size: 1.25rem;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 18px;
  padding-right: 18px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

thead {
  background-color: black;
  color: white;
}

tbody > tr:nth-child(odd) {
  background-color: #d2d2d2;
}
